@font-face {
  font-family: 'cirka';
  src: url('/fonts/Cirka-Light.otf');
}

@font-face {
  font-family: 'Space Mono';
  src: url('/fonts/SpaceMono-Regular.ttf');
}

@font-face {
  font-family: 'Space Mono Italic';
  src: url('/fonts/SpaceMono-Italic.ttf');
}