.fade-enter-active,
.fade-leave-active {
  transition: opacity 750ms;
}
.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.dissolve-enter-active,
.dissolve-leave-active {
  transition: opacity 200ms;
}
.dissolve-enter,
.dissolve-leave-to {
  opacity: 0;
}
