:root {
  --chat-width: 42.5rem;
  --chat-bg: #f6faf8;
  --close-height: 4rem;
  --chat-orange: #f37043;
  --dk-grey: #7f7f7f;
  --chat-blue: #394792;
  --lt-grey: #cacecd;
  --chat-text-offset: 2rem;
  --chat-text-width: 25rem;
  --chat-name-height: 3rem;
  --chat-x-pad: 3rem;
  --chat-y-pad: 1.5rem;
}

#nav-container.Touch .Touch {
  opacity: 1!important;
}
#nav-container.Taste .Taste {
  opacity: 1!important;
}
#nav-container.Sight .Sight {
  opacity: 1!important;
}
#nav-container.Hearing .Hearing {
  opacity: 1!important;
}
#nav-container.Smell .Smell {
  opacity: 1!important;
}
#nav-container.Synesthesia .Synesthesia {
  opacity: 1!important;
}